/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}
.borda-relatorio {
    background: #fff;
    border: 13px solid #78fca1;
}
.borda-relatorio h2{
    color: black!important;
}
.back-detalhes h2 strong {
    font-weight: 900;
    font-size: 37px;
    color: #73df8c;
}
.ficha {
    width: 196px;
    height:auto;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.p-6 {
    padding-left: 9vw;

}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 900;
}

h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.pagina-inicial {
    margin-top: 100px;
    font-size: 50px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

h5 {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    opacity: 0.8;
}

header a {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.sec-01 {
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    min-height: 870px;
}
.sec-01:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0,0,0,0.5);
    z-index:-3;
}


header {
    background-color: black;
}

.imgs-inicio {
    width: 200px;
    height: 200px;
    margin-top:60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-image: none !important;
    background-color: black;
}

.formulario-login label {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

.cor-fonte {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-weight: 900;
}

.imprimir {
    font-family: 'Quicksand', sans-serif;
}




.link-add a {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
}

.formulario-create input {
    border-top: 0px;
}

th {
    font-size: 14px;
}

td {
    font-size: 14px;
}

.alunos-edit a {
    font-size: 16px;
}


/*Index Funcionarios*/

.btn-criar {
    background-color: black;
    font-size: 21px;
    color: white;
    padding: 18px 57px;
    border: 0;
    margin-bottom: 30px;
    margin-top: 64px;
    font-weight:900;
}
    .btn-criar:hover {
        background-color: #78fca1;
        color: black;
        font-size: 21px;
        font-weight: 900;
    }
.btn-abrir:hover {
    background-color: #78fca1;
    color: black;
    font-size: 21px;
    font-weight: 900;
}
.btn-abrir {
    background-color: black;
    font-size: 21px;
    color: white;
    font-weight: 900;
}
.popup {
    background: #0d5798;
    margin: auto;
    padding: 4rem;
    position: relative;
    border-radius: 4px;
    border: 10px solid #f9f8f5;
}
.popup-container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}
    .popup-container h2 {
        color: #fff;
    }
    .popup-container a {
        text-decoration: none;
    }
.popup-close {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343434;
    cursor: pointer;
    font-size: 1.6rem;
    width: 2.6rem;
    height: 2.6rem;
    top: -0.8rem;
    right: -0.6rem;
    position: absolute;
    border-radius: 100%;
}

.btn-deletar {
    background-color: black;
    color: white;
    font-size: 21px;
    font-weight: 900;
}
.table td, .table th {
padding: 1.0rem!important;
vertical-align: top!important;
border-top: 4px solid white!important;
}
.btn-deletar:hover {
background-color: #78fca1;
font-size: 21px;
color: black;
font-weight: 900;
}
.btn-add {
background-color: black;
font-size: 21px;
color: white;
padding: 17px 57px;
border: 0;
margin-bottom: 16px;
margin-top: 64px;
font-family: 'Montserrat', sans-serif;
font-weight:900;
}
.btn-add:hover {
background: #78fca1;
color: black;
font-weight: 900;
font-family: 'Montserrat', sans-serif;
}
.btn-voltar {
background-color: black;
font-size: 21px;
color: white;
padding: 17px 57px;
border: 0;
margin-bottom: 30px;
margin-top: 0px;
font-weight:900;
cursor:pointer;
}
.btn-voltar:hover {
    background-color: #78fca1;
    color: black;
    font-size: 21px;
    font-weight: 900;
    cursor: pointer;
}
.roboto {
    font-family: 'Montserrat', sans-serif;
    
}
.font-tabela {
    font-size: 14px;
    color: white;
    font-weight:900;
}
.borda-relatorio-2 {
    background: #fff;
    border: 6px solid #78fca1;
    width: 200px;
    height: 201px;
}
.input{
    text-indent:10px;
}
.form-control {
    height: 60px;
    border: 0px;
    border-radius: 0;
}
:-ms-input-placeholder {
    color: red;
}
.title {
    font-size: 57px;
}
.button-geral {
    color: #fff;
}
a:hover {
    color: #fff;
    text-decoration: NONE;
}
.back-detalhes {
    background: #0d5798;
    border-radius: 25px;
    padding: 100px;
    border: 17px solid #000000;
}
.title-detalhes {
    text-decoration: underline;
}